# 背景

- 项目背景：这是一个基于，开源视觉大模型（主要是 qwen2.5vl:3b 模型），机场服务人员面部动作表情识别的，关于图像识别、行为检测的项目
- 我目前主要负责：进行视觉模型的测试（上传图片，进行相应的结果测试、评定）
- 我目前已完成：一个简易版的 html 演示界面

# 要求

- 实时视频流的，数据检测和识别

# 技术栈

- 测试使用：Postman
- 测试和演示界面：HTML 或 React + TypeScript + FastAPI
