# 背景

- 项目背景：这是一个基于视觉大模型（主要是 Qwen-VL-72B），AI 政务执法局的，关于图像识别、行为检测的项目
- 官方文档：地址是 D:\VS Code\Qwen-V72B-test（正是目前打开的文件夹下）
- 图片格式：.jpg
- 我目前主要负责：进行视觉模型的测试（上传图片，进行相应的结果测试、评定）
- 我目前已完成：

# 技术栈

- Postman
  或者
- React + TypeScript + FastAPI
